<h1>Invoice Detail</h1>

<p><strong>Invoice Number:</strong> {{ invoice.invoice_number }}</p>

<p><strong>Customer:</strong> {{ invoice.customer.name }}</p>

<p><strong>Amount:</strong> ₦{{ invoice.amount }}</p>

<p><strong>Total Paid:</strong> ₦{{ invoice.total_paid }}</p>

<p><strong>Balance Due:</strong> ₦{{ invoice.balance_due }}</p>

<p><strong>Due Date:</strong> {{ invoice.due_date }}</p>

<p><strong>Status:</strong> {{ invoice.status }}</p>

<br><br>

<a href="/invoices/{{ invoice.id }}/edit/">
    Edit Invoice
</a>

<br><br>

<a href="/invoices/{{ invoice.id }}/delete/">
    Delete Invoice
</a>

<br><br>

<a href="/invoices/">
    Back
</a>